.blog {
  background-color: var(--second-accent);
  position: relative;
}
.blog .container {
  display: flex;
  flex-direction: column-reverse;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.blog__title {
  padding: 30px 39px 30px 0;
  color: var(--main);
  @media screen and (min-width: 1360px) {
    padding: 112px 44px 112px 0;
  }
}

.blog__date {
  font-size: 18px;
  line-height: 1.65;
  margin-bottom: 5px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.blog__name {
  font-size: 38px;
  line-height: 1.26;
  font-weight: 300;
  margin-bottom: 26px;
}

.blog__text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 17px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.blog__button {
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid var(--main);
  border-radius: 5px;
  background-color: var(--second-accent);
  color: var(--main);
  width: 196px;
  padding: 11px 31px 10px 42px;
  cursor: pointer;
  transition: background-color 250ms linear;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.blog__button:hover,
.blog__button:focus {
  color: var(--second-accent);
  background-color: var(--main);
}
.blog__img {
  width: 100vw;
  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 384px;
    max-width: 384px;
  }
  @media screen and (min-width: 1360px) {
    width: 680px;
    max-width: 680px;
  }
}
