.footer .container {
  width: 100%;
  padding: 20px 0;

  @media screen and (min-width: 768px) {
    padding: 20px 0 16px 0;
  }
}

.footer {
  background-color: var(--dark);

  &__list {
    display: flex;
    margin-bottom: 10px;
    gap: 25px;
    justify-content: center;
  }

  &__social {
    cursor: pointer;
  }

  &__social:hover .footer__icon,
  &__social:focus .footer__icon {
    cursor: pointer;
    fill: var(--accent);
  }
  &__icon {
    fill: var(--main);
    transition: fill 250ms linear;
  }

  &__text {
    color: var(--main);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.56;
    }
  }
}
