.solution .container {
  width: 320px;
  padding: 0;
  flex-direction: column;
  width: 100%;
  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    flex-direction: row;
  }
  @media screen and (min-width: 1360px) {
    width: 1360px;
  }
}
.solution__content {
  width: 100%;
  padding: 30px 30px;
  @media screen and (min-width: 1360px) {
    padding: 84px 30px;
  }
}

.solution {
  background-color: var(--accent);
  color: var(--main);

  .container {
    display: flex;
  }

  &__pre-title {
    font-size: 18px;
    line-height: 1.65;
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.65;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-top: 5px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 26px;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.55;
    }
  }

  &__button {
    background-color: var(--accent);
    color: var(--main);
    font-size: 18px;
    line-height: 1.55;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 17px;
    display: block;
    padding: 11px 42px;
    transition: background-color 250ms linear, color 250ms linear,
      border 250ms linear;
  }

  &__button:hover,
  &__button:hover {
    background-color: var(--main);
    color: var(--accent);
  }

  &__img {
    width: 100%;
    object-fit: cover;
    @media screen and (max-width: 767px) {
      max-width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
}
