 <section class="blog">
      <div class="container">
        <div class="blog__container">
          <div class="blog__title">
            <p class="blog__date">April 16 2020</p>
            <h2 class="blog__name">Blog post one</h2>
            <p class="blog__text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
              dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore
              explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?
            </p>
            <button type="button" class="blog__button">Read our blog</button>
          </div>
          <img src="./images/desktop.jpg"
            alt="On the table is an open notebook, a cup of coffee, a tablet, a pen and two books on top of each other"
            width="680" class="blog__img" />
        </div>
      </div>
    </section>