<section class="blog" id="blog">
  <div class="container">
    <div class="blog__container">
      <div class="blog__title">
        <p class="blog__date">April 16 2020</p>
        <h2 class="blog__name">Blog post one</h2>
        <p class="blog__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
          illum dolore explicabo ab dolores itaque rerum temporibus doloribus
          iste maiores deleniti?
        </p>
        <button type="button" class="blog__button">Read our blog</button>
      </div>
      <picture class="blog__img">
        <source
          srcset="./images/blog-phone.jpg 1x, ./images/blog-phone@2x.jpg 2x"
          media="(max-width: 767px)"
        />

        <source
          srcset="./images/blog-desktop.jpg 1x, ./images/blog-desktop@2x.jpg 2x"
          media="(min-width: 1380px)"
        />
        <source
          srcset="./images/blog-tablet.jpg 1x, ./images/blog-tablet@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <img
          class="blog__img"
          src="./images/blog-phone.jpg"
          alt="On the table is an open notebook, a cup of coffee, a tablet, a pen and two books on top of each other"
          width="680"
        />
      </picture>
    </div>
  </div>
</section>
