<section class="callback">
          <div class="callback__container">
            <img
              class="callback__img"
              src="./images/working.jpg"
              alt="Person working on mobile"
              width="680"
            />
            <div class="callback__form-container">
              <form  class="callback__form" name="callback_form">
                 <h2 class="callback__title">Request callback</h2>
                <input class="callback__input callback__input--margin" type="text" name="name" placeholder="Enter your name">
                <input class="callback__input" type="email" name=" email" placeholder="Enter email*">
                <button type="submit" class="callback__button">Send</button>
              </form>
          </div>
          </div>
      </section>