<section class="callback" id="contact">
  <div class="container">
    <picture class="picture">
      <source
        srcset="
          ./images/callback-phone.jpg    1x,
          ./images/callback-phone@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />

      <source
        srcset="
          ./images/callback-desktop.jpg    1x,
          ./images/callback-desktop@2x.jpg 2x
        "
        media="(min-width: 1380px)"
      />
      <source
        srcset="
          ./images/callback-tablet.jpg    1x,
          ./images/callback-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="callback__img"
        src="./images/callback-phone.jpg"
        alt="Person working on mobile"
      />
    </picture>

    <form class="callback__form" name="callback_form">
      <h2 class="callback__title">Request callback</h2>
      <input
        class="callback__input callback__input--margin"
        type="text"
        name="name"
        placeholder="Enter your name"
      />
      <input
        class="callback__input"
        type="email"
        name=" email"
        placeholder="Enter email*"
      />
      <button type="submit" class="callback__button">Send</button>
    </form>
  </div>
</section>
