<section class="gallery-section">
  <div class="container">
    <p class="gallery__subtitle">This is what we do</p>
    <h2 class="gallery__title">Business cases</h2>
    <p class="gallery__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="gallery">
      <li>
        <a href="./images/cases1.jpg">
          <img
            src="./images/rectangle1.jpg"
            alt="team are working"
            width="320"
            class="gallery__img"
        /></a>
      </li>
      <li>
        <a href="./images/cases2.jpg">
          <img
            src="./images/rectangle2.jpg"
            alt="person is writing"
            width="320"
            class="gallery__img"
          />
        </a>
      </li>
      <li>
        <a href="./images/cases3.jpg">
          <img
            src="./images/rectangle3.jpg"
            alt="handshake"
            width="320"
            class="gallery__img"
          />
        </a>
      </li>
      <li>
        <a href="./images/cases4.jpg">
          <img
            src="./images/rectangle4.jpg"
            alt="team's hands"
            width="320"
            class="gallery__img"
          />
        </a>
      </li>
      <li>
        <a href="./images/cases5.jpg">
          <img
            src="./images/rectangle5.jpg"
            alt="person is working on laptop"
            width="320"
            class="gallery__img"
          />
        </a>
      </li>
      <li>
        <a href="./images/cases6.jpg">
          <img
            src="./images/rectangle6.jpg"
            alt="buildings"
            width="320"
            class="gallery__img"
          />
        </a>
      </li>
      <li>
        <a href="./images/cases7.jpg">
          <img
            src="./images/rectangle7.jpg"
            alt="woman is smiling"
            width="320"
            class="gallery__img"
          />
        </a>
      </li>
      <li>
        <a href="./images/cases8.jpg">
          <img
            src="./images/rectangle8.jpg"
            alt="people are working"
            width="320"
            class="gallery__img"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
