<header>
  <div class="container">
    <nav class="nav-block">

      <a class="logo" href="/">

        <svg width="40" height="35" class="logo__icon">
          <use href="./images/icons.svg#icon-book-open"></use>
        </svg>
        <span>Finance <span class="logo__accent">Ledger</span></span>
      </a>
      <ul class="nav-block__menu">
        <li>
          <a class="nav-block__link" href="#">Home</a>
        </li>
        <li>
          <a class="nav-block__link" href="#">About</a>
        </li>
        <li>
          <a class="nav-block__link" href="#">Cases</a>
        </li>
        <li>
          <a class="nav-block__link" href="#">Blog</a>
        </li>
        <li>
          <a class="nav-block__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
