<!-- Services -->

<section class="services">
  <div class="container">
    <h2 class="visually-hidden">Services</h2>
    <ul class="services__list">
      <li class="services__item">
        <div class="services__icon">
          <svg width="35" height="35">
            <use href="./images/icons.svg#icon-university"></use>
          </svg>
        </div>
        <h3 class="services__title">Investmant banking</h3>
        <p class="services__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="services__item">
        <div class="services__icon">
          <svg width="35" height="35">
            <use href="./images/icons.svg#icon-group"></use>
          </svg>
        </div>
        <h3 class="services__title">Portfolio manager</h3>
        <p class="services__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="services__item">
        <div class="services__icon">
          <svg width="35" height="35">
            <use href="./images/icons.svg#icon-pencil"></use>
          </svg>
        </div>
        <h3 class="services__title">Tax & custudio</h3>
        <p class="services__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
