  <section class="solution">
      <div class="container">
        <img class="solution__img" src="./images/rectangle.jpg" alt="team" width="680" />
        <div class="solution__content">
          <p class="solution__pre-title">What you are looking for</p>
          <h2 class="solution__title">We provide bespoke solutions</h2>
          <p class="solution__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos
            quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores
            itaque rerum temporibus doloribus iste maiores deleniti?
          </p>
          <button type="button" class="solution__button">Read more</button>
        </div>
      </div>
    </section>