<section class="team" id="about">
  <div class="container">
    <p class="team__subtitle">Who we are</p>
    <h2 class="team__title">Our professional team</h2>
    <p class="team__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__card">
          <picture class="team__img">
            <source
              srcset="
                ./images/team1-phone.jpg    1x,
                ./images/team1-phone@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/team1-desktop.jpg    1x,
                ./images/team1-desktop@2x.jpg 2x
              "
              media="(min-width: 1380px)"
            />
            <source
              srcset="
                ./images/team1-tablet.jpg    1x,
                ./images/team1-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="team__img"
              src="./images/team1-phone.jpg"
              alt="man stands near the wall"
              width="480"
            />
          </picture>
          <ul class="team__social">
            <li>
              <a href="">
                <svg class="team__icon" width="35" height="35">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg class="team__icon" width="35" height="35">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg class="team__icon" width="35" height="40">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg class="team__icon" width="31" height="35">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team__name">John Doe</h3>
        <p class="team__description">President</p>
      </li>
      <li class="team__item">
        <div class="team__card">
          <picture class="team__img">
            <source
              srcset="
                ./images/team2-phone.jpg    1x,
                ./images/team2-phone@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/team2-desktop.jpg    1x,
                ./images/team2-desktop@2x.jpg 2x
              "
              media="(min-width: 1380px)"
            />
            <source
              srcset="
                ./images/team2-tablet.jpg    1x,
                ./images/team2-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="team__img"
              src="./images/team2-phone.jpg"
              alt="woman stands near the wall"
              width="480"
            />
          </picture>
          <ul class="team__social">
            <li>
              <a href="">
                <svg class="team__icon" width="35" height="35">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg class="team__icon" width="35" height="35">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg class="team__icon" width="35" height="40">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg class="team__icon" width="31" height="35">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team__name">Jane Doe</h3>
        <p class="team__description">Vice president</p>
      </li>
      <li class="team__item">
        <div class="team__card">
          <picture class="team__img">
            <source
              srcset="
                ./images/team3-phone.jpg    1x,
                ./images/team3-phone@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/team3-desktop.jpg    1x,
                ./images/team3-desktop@2x.jpg 2x
              "
              media="(min-width: 1380px)"
            />
            <source
              srcset="
                ./images/team3-tablet.jpg    1x,
                ./images/team3-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="team__img"
              src="./images/team3-phone.jpg"
              alt="man is drinking coffee"
              width="480"
            />
          </picture>
          <ul class="team__social">
            <li>
              <a href="">
                <svg class="team__icon" width="35" height="35">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg class="team__icon" width="35" height="35">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg class="team__icon" width="35" height="40">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="">
                <svg class="team__icon" width="31" height="35">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team__name">Steve Smith</h3>
        <p class="team__description">Marketing head</p>
      </li>
    </ul>
  </div>
</section>
